<div class="flex-column">
  <span class="flex-row transaction-header-row">
    <h2>{{ account ? account.name : "All Accounts" }}</h2>
    <button type="button"
            class="btn btn-primary button-icon add-transaction-button"
            (click)="addTransactionDialog.show()">
      <i class="bi bi-plus icon-button"></i>
    </button>
  </span>
  <table class="table outer-border-table">
    <colgroup>
      <col style="width: 15%; min-width: 175px;">
      <col *ngIf="!account" style="width: 20%">
      <col style="width: 25%">
      <col style="width: 20%">
      <col style="width: 15%; min-width: 110px;">
      <col style="width: 25%">
      <col style="width: 50px">
    </colgroup>
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th *ngIf="!account">Account</th>
        <th>Recipient</th>
        <th>Category</th>
        <th class="text-align-right">Cost</th>
        <th>Tags</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>
          <div *ngIf="transaction.isEditing">
            <div class="input-group">
              <input ngbDatepicker
                    id="date"
                    type="text"
                    placeholder="yyyy/MM/dd"
                    [(ngModel)]="editTransaction.date"
                    #datePicker="ngbDatepicker"
                    name="date"
                    class="form-control"
                    required>
              <div class="input-group-append">
                <button class="btn btn-dark bi-calendar-day"
                        (click)="datePicker.toggle()"
                        type="button"></button>
              </div>
            </div>
          </div>
          <div *ngIf="!transaction.isEditing">
            {{ transaction.date | date:'yyyy-MM-dd' }}
          </div>
        </td>
        <td *ngIf="!account">
          <div *ngIf="transaction.isEditing">
            <select id="account"
                    [(ngModel)]="editTransaction.accountId"
                    name="account"
                    class="form-control"
                    required>
              <option *ngFor="let acc of accounts" 
                      [value]="acc.id">{{ acc.name }}</option>
            </select>
          </div>
          <div *ngIf="!transaction.isEditing">
            {{ getAccountName(transaction.accountId) }}
          </div>
        </td>
        <td>
          <div *ngIf="transaction.isEditing">
            <input id="recipient"
                  type="text"
                  [(ngModel)]="editTransaction.recipient"
                  #recipient="ngModel"
                  name="recipient"
                  class="form-control"
                  required>
          </div>
          <div *ngIf="!transaction.isEditing">
            {{ transaction.recipient }}
          </div>
        </td>
        <td>
          <div *ngIf="transaction.isEditing">
            <select id="category"
                    [(ngModel)]="editTransaction.categoryId"
                    name="category"
                    class="form-control"
                    required>
              <option *ngFor="let category of categories" 
                      [value]="category.id">{{ category.name }}</option>
            </select>
          </div>
          <div *ngIf="!transaction.isEditing">
            {{ getCategoryName(transaction.categoryId) }}
          </div>
        </td>
        <td>
          <div *ngIf="transaction.isEditing">
            <input id="cost"
                  [ngModel]="editTransaction.cost"
                  (blur)="convertToMoney($event, editTransaction)"
                  (keyup.enter)="convertToMoney($event, editTransaction)"
                  name="cost"
                  class="form-control"
                  style="text-align: right;"
                  required>
          </div>
          <div *ngIf="!transaction.isEditing" class="text-align-right">
            {{ transaction.cost | currency: 'USD' }}
          </div>
        </td>
        <td>
        </td>
        <td class="icons-cell">
          <div class="icons-container">
            <button *ngIf="!transaction.isEditing" 
                    type="button" 
                    class="cell-button-icon cell-button-icon-primary" 
                    (click)="startEditing(transaction)">
              <i class="bi-pencil text-primary"></i>
            </button>
            <button *ngIf="!transaction.isEditing" 
                    type="button" 
                    class="cell-button-icon cell-button-icon-danger"
                    (click)="confirmDelete(transaction)">
              <i class="bi-trash text-danger"></i>
            </button>
            <button *ngIf="transaction.isEditing" 
                    type="button" 
                    class="cell-button-icon cell-button-icon-success" 
                    (click)="save(editTransaction)">
              <i class="bi-check-circle text-success"></i>
            </button>
            <button *ngIf="transaction.isEditing" 
                    type="button" 
                    class="cell-button-icon cell-button-icon-secondary" 
                    (click)="cancelEditing(transaction)">
              <i class="bi-x-circle text-secondary"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-add-transaction-dialog #addTransactionDialog
                            [defaultAccount]="account"></app-add-transaction-dialog>