<div class="flex-column">
  <h2>{{ account.name }}</h2>
  <p-table [value]="transactions" styleClass="p-datatable-sm">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width:15%">
            <col style="width:30%">
            <col style="width:30%">
            <col style="width:25%">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Date</th>
        <th>To</th>
        <th>Category</th>
        <th>Cost</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-calendar inputId="basic" [(ngModel)]="transaction.date"></p-calendar>
            </ng-template>
            <ng-template pTemplate="output">
              {{ transaction.date | date:'shortDate' }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="transaction.to">
            </ng-template>
            <ng-template pTemplate="output">
              {{ transaction.to }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="categories" [(ngModel)]="transaction.categoryId" optionLabel="name" optionValue="id"></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{ getCategoryName(transaction.categoryId) }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-inputNumber [(ngModel)]="transaction.cost" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </ng-template>
            <ng-template pTemplate="output">
              {{ transaction.cost | currency: 'USD' }}
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>