<div class="flex-column">
  <span class="flex-row transaction-header-row">
    <h2>{{ account.name }}</h2>
    <button type="button" class="btn btn-primary button-icon add-transaction-button" (click)="addTransactionDialog.show()"><i class="bi bi-plus icon-button"></i></button>
  </span>
  <table class="table">
    <colgroup>
      <col style="width: 10%">
      <col style="width: 30%">
      <col style="width: 25%">
      <col style="width: 10%">
      <col style="width: 25%">
      <col style="width: 50px">
    </colgroup>
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Recipient</th>
        <th>Category</th>
        <th class="text-align-right">Cost</th>
        <th>Tags</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>
          {{ transaction.date | date:'shortDate' }}
        </td>
        <td>
          {{ transaction.recipient }}
        </td>
        <td>
          {{ getCategoryName(transaction.categoryId) }}
        </td>
        <td class="text-align-right">
          {{ transaction.cost | currency: 'USD' }}
        </td>
        <td>
        </td>
        <td class="icons-cell">
          <div class="icons-container">
            <button type="button" class="cell-button-icon cell-button-icon-primary"><i class="bi-pencil text-primary"></i></button>
            <button type="button" class="cell-button-icon cell-button-icon-danger"><i class="bi-trash text-danger"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-add-transaction-dialog #addTransactionDialog></app-add-transaction-dialog>