.budget-container {
  width: 100%;
  border: 1px solid #dee2e6;

  .budget-header {
    background-color: #343a40;
    padding: 0.75rem;
    color: white;
    font-weight: 700;
  }

  .budget-category-money {
    width: 10%;
    text-align: right;
    margin-left: 1em;
  }
  
  .budget-column-category {
    width: 55%;
  }
  
  .budget-column-budget {
    width: 15%;
    text-align: right;
    justify-content: flex-end;
  }
  
  .budget-column-spent {
    width: 15%;
    text-align: right;
    justify-content: flex-end;
  }
  
  .budget-column-available {
    width: 15%;
    text-align: right;
    justify-content: flex-end;
  }
  
  .budget-column-actions {
    width: 100px;
    text-align: center;
    justify-content: center;
  }

  .add-category-button {
    color: white;
    margin-left: 5px;
    display: none;
  }
  
  .group-header-row:hover .add-category-button {
    display: inline-flex;
  }

  .budget-group-cell {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
    min-height: 48px;
    font-weight: 700;
  }
  
  .budget-category-cell {
    padding: 0.75rem;
  }

  .editable-cell {
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
  
    .editable-cell-input {
      text-align: right;
      border-width: 0;
    }
  }

  .editable-cell .input-group .input-group-prepend {
    display: none;
  }

  .editable-cell:hover, .editable-cell:focus-within {
    .editable-cell-input {
      border-width: 1px;
    }
  }

  .editable-cell:focus-within .input-group .input-group-prepend {
    display: flex;
  }

  .rename-button:hover {
    color: dodgerblue
  }
}