<div class="flex-column">
  <h1>{{ month }}</h1>
  <p-treeTable [value]="budgets" styleClass="p-treetable-sm">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width:55%">
            <col style="width:15%">
            <col style="width:15%">
            <col style="width:15%">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="text-align-center">Category</th>
            <th class="text-align-center">Budget</th>
            <th class="text-align-center">Spent</th>
            <th class="text-align-center">Available</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr [class.tree-header-row]="rowNode.node.children">
            <td ttEditableColumn>
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                {{rowData.name}}
            </td>
          <td ttEditableColumn>
            <p-treeTableCellEditor class="float-right">
              <ng-template pTemplate="input">
                <p-inputNumber [(ngModel)]="rowData.budget" mode="currency" currency="USD" locale="en-US" inputStyleClass="text-align-right"></p-inputNumber>
              </ng-template>
              <ng-template pTemplate="output">
                <span class="text-align-right">{{ rowData.budget | currency: 'USD' }}</span>
              </ng-template>
            </p-treeTableCellEditor>
          </td>
          <td class="text-align-right">{{ rowData.spent | currency: 'USD' }}</td>
          <td class="text-align-right">{{ getAvailable(rowData) | currency: 'USD' }}</td>
        </tr>
    </ng-template>
  </p-treeTable>
</div>