.budget-category-money {
  width: 10%;
  text-align: right;
  margin-left: 1em;
}

.budget-container {
  width: 100%;
}

.budget-column-category {
  width: 55%;
}

.budget-column-budget {
  width: 15%;
  text-align: right;
}

.budget-column-spent {
  width: 15%;
  text-align: right;
}

.budget-column-available {
  width: 15%;
  text-align: right;
}

.budget-container {
  border: 1px solid #dee2e6;
}

.budget-header {
  background-color: #343a40;
  padding: 0.75rem;
  color: white;
  font-weight: 700;
}

.budget-group-cell {
  background-color: whitesmoke;
  padding: 0.75rem;
  font-weight: 700;
}

.budget-category-cell {
  background-color: white;
  padding: 0.75rem;
}

.add-category-button {
  color: green;
  display: none;
}

.group-header-row:hover .add-category-button {
  display: inline-flex;
}