<div class="flex-column">
  <h1>{{ month }}</h1>
  <div class="flex-column budget-container">
    <div class="flex-row">
      <span class="budget-header budget-column-category">Category</span>
      <span class="budget-header budget-column-budget">Budget</span>
      <span class="budget-header budget-column-spent">Spent</span>
      <span class="budget-header budget-column-available">Available</span>
      <span class="budget-header budget-column-actions"></span>
    </div>
    <div *ngFor="let group of categoryGroups" class="flex-column group-row-container">
      <div class="flex-row group-header-row">
        <span class="budget-group-cell budget-column-category">
          <button type="button" (click)="group.isExpanded = !group.isExpanded" class="btn-icon-only">
            <i class="bi" [class.bi-caret-down-fill]="group.isExpanded" [class.bi-caret-right-fill]="!group.isExpanded"></i>
          </button>
          {{group.name}}
          <button type="button" (click)="openAddCategoryDialog(group.id)" class="btn btn-primary btn-sm add-category-button">
            <i class="bi bi-plus-lg margin-right-sm"></i>
            <span>Add Category</span>
          </button>
        </span>
        <span class="budget-group-cell budget-column-budget">{{calculateGroupTotals(group, 'budgeted') | currency: 'USD'}}</span>
        <span class="budget-group-cell budget-column-spent">{{calculateGroupTotals(group, 'spent') | currency: 'USD'}}</span>
        <span class="budget-group-cell budget-column-available">{{calculateGroupTotals(group, 'available') | currency: 'USD'}}</span>
        <span class="budget-group-cell budget-column-actions"></span>
      </div>
      <ng-container *ngIf="group.isExpanded">
        <div *ngFor="let category of group.categories" class="flex-row">
          <span class="budget-category-cell budget-column-category">
            <ng-template #categoryRenamePopover>
              <div class="flex-column">
                <input [(ngModel)]="renameText" class="form-control margin-bottom-sm">
                <button type="button" class="btn btn-primary btn-sm flex-align-self-end" (click)="renameCategory(category)">Save</button>
              </div>
            </ng-template>
            
            <button type="button" [ngbPopover]="categoryRenamePopover" popoverTitle="Rename" [autoClose]="'outside'" class="btn-no-style rename-button">
              {{category.name}}
            </button>
          </span>
          <span class="budget-category-cell budget-column-budget editable-cell">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button class="btn btn-outline-danger" type="button" name="undo-budget-button">
                  <i class="bi bi-arrow-counterclockwise"></i>
                </button>
              </div>
              <input [ngModel]="category.budget" pattern="^d+((.|,)d{2})?$" (blur)="updateBudget($event, category)" class="form-control editable-cell-input">
            </div>
          </span>
          <span class="budget-category-cell budget-column-spent">
            <span>{{category.spent | currency: 'USD'}}</span>
          </span>
          <span class="budget-category-cell budget-column-available">
            <span>{{calculateAvailable(category) | currency: 'USD'}}</span>
          </span>
          <span class="budget-category-cell budget-column-actions">
            <button type="button"
                    (click)="confirmDeleteCategory(category)"
                    class="btn-icon-only">
              <i class="bi bi-trash-fill"></i>
            </button>
          </span>
        </div>
      </ng-container>
    </div>
  </div>
</div>