.transaction-header-row {
  justify-content: space-between;
}

.add-transaction-button {
  align-self: center;
  margin: 0.5em 0;
}

.outer-border-table {
  border-bottom: 1px solid #dee2e6;
}

.outer-border-table thead tr {
  border-left: 1px solid #343a40;
  border-right: 1px solid #343a40;
}

.outer-border-table tbody tr {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}