body {
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);  
  background-attachment: fixed;
}

.button-icon {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  height: 19px;

  :disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.button-icon-danger {
  color: #da3444;
}

.btn-no-style {
  border: none;
  background-color: transparent;
}

.icon-button {
  font-size: 2rem;
  line-height: 1;
}

.icons-cell {
  padding: 0 !important;
  vertical-align: middle !important;
}

.icons-container {
  display: flex;
  justify-content: center;
  padding: 0 0.5rem;
}

.cell-button-icon {
  background: none;
  border: none;
  margin: 0 0.1rem;
  padding: 0.1rem 0.5rem;
  border-radius: 50%;
}

.cell-button-icon:hover {
  background: whitesmoke;
}

.cell-button-icon-primary:active {
  background: rgba(0, 123, 255, 0.15);
}

.cell-button-icon-secondary:active {
  background: rgba(108, 117, 125, 0.15)
}

.cell-button-icon-success:active {
  background: rgba(40, 167, 69, 0.15)
}

.cell-button-icon-warning:active {
  background: rgba(255, 193, 7, 0.15);
}

.cell-button-icon-danger:active {
  background: rgba(220, 53, 69, 0.15);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}