/* You can add global styles to this file, and also import other style files */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.flex-justify-content-end {
  justify-content: flex-end;
}

.text-align-right {
  text-align: right !important;
}

.text-align-center {
  text-align: center !important;
}

.small-margin-left {
  margin-left: 1em;
}

.tree-header-row {
  background-color: #F8F9FA !important;
}

.float-right {
  float: right;
}