/* You can add global styles to this file, and also import other style files */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.flex-justify-content-end {
  justify-content: flex-end;
}

.text-align-right {
  text-align: right !important;
}

.text-align-center {
  text-align: center !important;
}

.small-margin-left {
  margin-left: 1em;
}

.tree-header-row {
  background-color: #F8F9FA !important;
}

.float-right {
  float: right;
}

.button-icon {
  padding: 0 0.1rem;
}

.icon-button {
  font-size: 2rem;
  line-height: 1;
}

.icons-cell {
  padding: 0 !important;
  vertical-align: middle !important;
}

.icons-container {
  display: flex;
  justify-content: center;
  padding: 0 0.5rem;
}

.cell-button-icon {
  background: none;
  border: none;
  margin: 0 0.1rem;
  padding: 0.1rem 0.5rem;
  border-radius: 50%;
}

.cell-button-icon:hover {
  background: whitesmoke;
}

.cell-button-icon-primary:active {
  background: rgba(0, 123, 255, 0.15);
}

.cell-button-icon-secondary:active {
  background: rgba(108, 117, 125, 0.15)
}

.cell-button-icon-success:active {
  background: rgba(40, 167, 69, 0.15)
}

.cell-button-icon-warning:active {
  background: rgba(255, 193, 7, 0.15);
}

.cell-button-icon-danger:active {
  background: rgba(220, 53, 69, 0.15);
}

.required-field label:after {
  content: "*";
  color: red;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-icon-only {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}